In [8]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/employee230901052.csv")
print(d)

   S.NO FIRST NAME GENDER  LOGIN TIME   SALARY BONUS(%) TEAM
0     1        MON      M           11   25000      10%    A
1     2        TUE      M           11   30000      20%    B
2     3        WED      F           12   30000      12%    C
3     4        THU      F           11   73000      12%    B
4     5        FRI      M            1   69000      15%    C
5     6        SAT      M            9   68000      20%    A
6     7        SUN      F            9   67000      25%    A
7     8        KUN      F            9   66000      30%    C
8     9        PIN      M           10   45000      20%    B
9    10        TUN      M           10  100000       5%    C

In [10]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['S.NO', 'FIRST NAME', 'GENDER', 'LOGIN TIME ', 'SALARY', 'BONUS(%)',
       'TEAM'],
      dtype='object')
(10, 7)

In [16]:
print("TEAM",df['TEAM'])

TEAM 0    A
1    B
2    C
3    B
4    C
5    A
6    A
7    C
8    B
9    C
Name: TEAM, dtype: object

In [24]:
print(df[5:10])

   S.NO FIRST NAME GENDER  LOGIN TIME   SALARY BONUS(%) TEAM
5     6        SAT      M            9   68000      20%    A
6     7        SUN      F            9   67000      25%    A
7     8        KUN      F            9   66000      30%    C
8     9        PIN      M           10   45000      20%    B
9    10        TUN      M           10  100000       5%    C

In [26]:
print("Particular Person details",df.loc[2])

Particular Person details S.NO               3
FIRST NAME       WED
GENDER             F
LOGIN TIME        12
SALARY         30000
BONUS(%)         12%
TEAM               C
Name: 2, dtype: object

In [30]:
print(d.loc[d['SALARY']==68000])

   S.NO FIRST NAME GENDER  LOGIN TIME   SALARY BONUS(%) TEAM
5     6        SAT      M            9   68000      20%    A

In [32]:
df=d["SALARY"]/
print(df)

0    0.362319
1    0.434783
2    0.434783
3    1.057971
4    1.000000
5    0.985507
6    0.971014
7    0.956522
8    0.652174
9    1.449275
Name: SALARY, dtype: float64